<div *ngIf="isFirstPage">
    <p>First Page</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
</div>

<div *ngIf="isSecondPage">
    
<p>Second Page</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
</div>

<div *ngIf="isThirdPage">
    
<p>Third Page</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Totam expedita repudiandae explicabo ipsam amet natus aspernatur
      reprehenderit ducimus excepturi sit.</p>
</div>
