<mat-toolbar style="background-color: blue;color:white; place-content:end">
  <span style="margin-right:900px">Flight Enitity</span>
  <button class="btn btn-sm " (click)="addFlightPopup()">Add Flight</button>
  <button class="btn btn-sm "  (click)="registerAirline()">Register new Airline</button>
</mat-toolbar>



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h4 class="modal-title" style="text-align:center">Update Invoice</h4> -->
                <h2 style="text-align: center;">Add Flight </h2>
                <div class="close">

                  <button type="button btn-sm" style="padding: 1px 0px 0px 0px;height: 30px;width: 30px;" class="btn btn-danger"
                    data-dismiss="modal" (click)="closeAddFlightPopup()">
        
                    <mat-icon>close</mat-icon>
        
                  </button>
        
                </div> 
              </div>
              <div class="modal-body">
               <div class="row">
  <div class="col">
    <mat-label> 
Flight Number
    </mat-label>
    <input type="number"  class="form-control"/>
  </div>
  <div class="col">
    <mat-label> 
Airline Name 
    </mat-label>
    <input type="text"  class="form-control"/>
  </div>
</div>

      <div class="row">
        <div class="col">
          <mat-label>From Place</mat-label>
          <input type="text" class="form-control"> 
        </div>
        <div class="col">
          <mat-label>To Place</mat-label>
          <input type="text" class="form-control"> 
        </div>
      </div>



      
         <div class="row">
        <div class="col">
   <mat-label>Start Date</mat-label>
       
        <input type="date" id="Podate" name="Podate" class=" form-control input-group date" data-provide="datepicker"
          name="Podate">

        </div>
        <div class="col">
   <mat-label>End Date</mat-label>

        <input type="date" id="Podate" name="Podate" class=" form-control input-group date" data-provide="datepicker"
          name="Podate">

        </div>
      </div> 


 <div class="row"><div class="col">
  <mat-select placeholder="">
      <mat-option [value]=""></mat-option>
  </mat-select>
</div></div> 


 <div class="row"><div class="col">
  <mat-label>Buissnwss class seats</mat-label>
  <input class="form-control" type="number" />
</div>
<div class="col">
  <mat-label>Non Business class seats</mat-label>
  <input class="form-control" type="number" />

</div>
</div> 


<div class="row">
  <div class="col">
    <mat-label>Ticket cost</mat-label>
  <input class="form-control" type="number" />
  </div>
  <div class="col">
    <mat-label>Meal Type </mat-label>
    <input class="form-control" type="text" />
  </div>
</div>

              </div>
              <div class="modal-footer" style="justify-content: center">
                <div class="row">
                  <div class="col">
                    <button class=" btn btn-success"  type="submit ">Add Flight</button>
                  </div>

                </div>
              
              </div>
            </div>
          </div>
        </div>



        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':airlineRegdisplayStyle}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h4 class="modal-title" style="text-align:center">Update Invoice</h4> -->
                <h2 style="text-align: center;">Add Flight </h2>
                <div class="close">

                  <button type="button btn-sm" style="padding: 1px 0px 0px 0px;height: 30px;width: 30px;" class="btn btn-danger"
                    data-dismiss="modal" (click)="closeAddFlightPopup()">
        
                    <mat-icon>close</mat-icon>
        
                  </button>
        
                </div> 
              </div>
              <div class="modal-body">
               <div class="row">
                 <div class="col">
<mat-label>
Airline Name
</mat-label>
<input type="text"  class="form-control"/>
               </div>
               <div class="col">
                 <mat-label>logo URL</mat-label> 
                 <input type="text" class="form-control"> 
                   </div>
              </div>

                         <div class="row">
                 <div class="col">
<mat-label>
Contact Number
</mat-label>
<input type="number"  class="form-control"/>
               </div>
               <div class="col">
                 <mat-label>Adress </mat-label> 
                 <textarea  class="form-control"> </textarea>
                   </div>
              </div>
              <div class="row">
                <div class="col">
                <mat-label>Status</mat-label>
                <input type="text" class="form-control">
                </div>
              </div>



              </div>
              <div class="modal-footer" style="justify-content: center">
                <div class="row">
                  <div class="col">
                    <button class=" btn btn-success"  type="submit ">Register airline</button>
                  </div>

                </div>
              
              </div>
            </div>
          </div>
        </div>